.logOutButton {
  background-color: #bdbdbd !important;
  border: none !important;
  margin-left: 5px;
  color: black !important;
  @media (min-width: 340px) and (max-width: 992px) {
    margin-left: 0;
    margin-top: 5px;
  }
}
