.detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .detailBoxWrapper {
    display: flex;
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  button {
    background-color: #bdbbbb;
    border: none;
    color: green;
  }
  :first-child {
    margin: 0 10px;
  }
}
